html, body {
    margin: 0;
    padding: 0;
}

video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 88%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

.nav-list {
    display: block;
    height: 10vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #333; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#333, #5b5b5b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#333, #5b5b5b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#333, #5b5b5b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#333, #5b5b5b); /* Standard syntax */
}

.nav-list {
    background-color: none;
}

.nav-list li {
    float: left;
}

.nav-list li a {
    margin-top: 10px;
    display: block;
    color: white;
    font-size: 1.2em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-list li a:hover {
    background-color: #111;
}


#logo {
    padding: 0 5px 0 20px;
    margin-top: 15px;
    color: rgb(219, 182, 89);
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    font-size: 2em;
    text-shadow: 3px 3px #333;
}

#main-container {
    height: 100vh;
}

/* The Modal (background) */
.signUpModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.signUp-content {
    background-color: #fefefe;
    margin: 7% auto; /* 15% from the top and centered */
    padding: 10px 20px 20px 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.signUpClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.signUpClose:hover,
.signUpClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Sign Up Modal*/

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
form button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

#testBox {
    margin: 20vh 0 0 8vw;
    float: left;
    padding-top: 5vh;
    background: rgba(85, 85, 85, 0.7); /* For browsers that do not support gradients */
    border-radius: 4px;
    border: #000 solid 1px;
    height: 30%;
    width: 35%;
    text-align: center;
    text-shadow: #000 2px 2px;
}

#testBox button {
    padding: 20px 30px;
    margin: 0 1vw;
    background-color: #333;
    font-size: 1.3em;
    font-weight: 300;
    color: #fff;
    border-radius: 5px;
    border: rgb(219, 182, 89) solid 1px ;
}

#testBox button:hover {
    background-color: rgb(219, 182, 89);
    color: #000;
    border-color: #000;
}

#testBox h1 {
    margin: 0 0 5vh;
    color: #fff;
}

#testBox span {
    color: #fff;
    font-size: 1.8em;
}

#beginTest {
    background-color: #333;
    width: 40%;
    font-size: 1.5em;
    border-radius: 8px;
}

/*Log in Modal*/

/* The Modal (background) */
.loginModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.login-content {
    background-color: #fefefe;
    margin: 7% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.loginClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.loginClose:hover,
.loginClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#facts {
    background-color: rgba(85, 85, 85, 0.85);
    padding: 2vh 2vw;
    float: left;
    width: 40vw;
    margin: 4%;
    border: 1px #000 solid;
    border-radius: 8px;
    color: #fff;
    text-shadow: 2px 2px #000;
}

#facts li {
    font-size: 1.8em;
    margin: 15px auto;
}